html{
    font-family: 'Open Sans Condensed', sans-serif;
}

body, p, h3 {
    margin: 0;
}

body {
    background-color: #444444;
    height: 100%;
}

.social-network{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.8rem;
}

.nav{
    display: flex;
}

.games-button{
    font-size: 20px;
    border: none;
    background-color: #ff5400;
    color:white;
    width: 140px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.netflix-button{
    margin-left: 5%;
    font-size: 25px;
    border: none;
    background-color: #080808;
    color: #e50914;
    width: 140px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.netflix-button:hover, .games-button:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.logo-github, .space{
    width: 50px;
}

.message-scrapp{
    display: flex;
    justify-content: center;
    color: #ff5400;
}

.game-card {
    margin: 16px;
    width: 255px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.gamecard-container{
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.game-url{
    text-decoration: none;
}

.game-img{
    width: 100%;
}

.game-title{
    margin: 3px;
}

.game-release-date{
    font-style: italic;
}

.game-price{
    display: none;
    position: absolute;
    color: #ff5400;
    font-size: 20px;
}

/* On mouse-over, add a deeper shadow */
.game-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.game-card:hover .game-price {
    display: block;
}

.game-card:hover .game-infos {
    display: none;
}

/* Add some padding inside the card container */
.container {
    min-height: 80px;
    display: flex;
    align-items: center;
    padding: 2px 16px;
    color: white;
    justify-content: center;
}

.game-infos{
    width: 100%;
    text-align: center;
}

.netflix-card {
    margin: 16px;
    width: 400px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.netflix-card-container{
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}