<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %}!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="css/style.css">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
            <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
            <link rel="manifest" href="img/site.webmanifest">
        {% endblock %}
    </head>
    <body>
    <div class="social-network">
        <div class="nav">
            <a class="games-button" href="{{ path('video_games_news') }}">Jeux-Vidéo</a>
            <a href="{{ path('netflix_news') }}" class="netflix-button">Netflix</a>
        </div>
        <div class="logo-social">
            <a href="https://github.com/GeoffroyDutot"><img class="logo-github" src="img/logo-github.png" alt="logo github"></a>
        </div>
    </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
